<ion-content padding>
	<ion-grid>
		<ion-item>
			<ion-row justify-content-center align-items-center>
				<ion-col id="profil" ion-text color='orange'>
					<h1>{{user.pseudo}}</h1>
					<p class="orange">{{userAge}} ans</p>
				</ion-col>
				<ion-col>
					<ion-avatar>
						<img id='imgProfil' *ngIf="user.photo" [src]="user.photo" alt='photo de profils'>
					</ion-avatar>
				</ion-col>
			</ion-row>
		</ion-item>

		<ion-item>
			<ion-row>
				<ion-col>
 					<div class="interest" *ngIf="isMan; else autre1">Je suis un</div>
					<ng-template #autre1>
						<div class="interest" >Je suis une</div>
					</ng-template>
				</ion-col>
				<ion-col>
					<img class="imgSexe" *ngIf="isMan; else autreImage1" src='assets/imgs/homme.png' >
					<ng-template #autreImage1>
						<img class="imgSexe" src='assets/imgs/femme.png'>
					</ng-template>
				</ion-col>
				<ion-col>
 					<div class="interest" *ngIf="isMan; else autre2">intéressé par</div>
					<ng-template #autre2>
						<div class="interest">intéressée par</div>
					</ng-template>
				</ion-col>
				<ion-col>
					<img class="imgSexe" *ngIf="wantMan; else autreImage2" src='assets/imgs/homme.png' >
					<ng-template #autreImage2>
						<img class="imgSexe" src='assets/imgs/femme.png'>
					</ng-template>
				</ion-col>
			</ion-row>
		</ion-item>

    <!-- <form (ngSubmit)="logForm()">
      <ion-item>
        <ion-label>Todo</ion-label>
        <ion-input type="text" [ngModel]="todo.title" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Description</ion-label>
        <ion-textarea [ngModel]="todo.description" name="description"></ion-textarea>
      </ion-item>
      <button ion-button type="submit" block>Add Todo</button>
    </form> -->

		<ion-list>
			<ion-list-header>
				<h2>Ce que j'aime : </h2>
			</ion-list-header>
		</ion-list>

		<ion-list>
			<ion-list-header>
				<h2>Ce que je n'aime pas : </h2>
			</ion-list-header>
		</ion-list>

		<!-- Bouton de mis à jour du profil -->
		<button type="submit" id="button" ion-button color="orange" round outline (click)=updateProfil(champDescription.value)>Mise à jour</button>

	</ion-grid>
