<ion-content padding>
	<ion-grid>
		<ion-item>
			<ion-row justify-content-center align-items-center>
				<ion-col id="profil" ion-text color='orange'>
					<h1>{{user.pseudo}}</h1>
					<p class="orange">{{userAge}} ans</p>
				</ion-col>
				<ion-col>
					<ion-avatar id="imgAvatar">
						<img id='imgProfil' *ngIf="user.photo" [src]="user.photo" alt='photo de profils'>
					</ion-avatar>
				</ion-col>
			</ion-row>
		</ion-item>

		<ion-item>
			<ion-row>
				<ion-col>
					<div class="interest" *ngIf="isMan; else autre1">Je suis un</div>
					<ng-template #autre1>
						<div class="interest">Je suis une</div>
					</ng-template>
				</ion-col>
				<ion-col>
					<img class="imgSexe" *ngIf="isMan; else autreImage1" src='assets/imgs/homme.png'>
					<ng-template #autreImage1>
						<img class="imgSexe" src='assets/imgs/femme.png'>
					</ng-template>
				</ion-col>
				<ion-col>
					<div class="interest" *ngIf="isMan; else autre2">intéressé par</div>
					<ng-template #autre2>
						<div class="interest">intéressée par</div>
					</ng-template>
				</ion-col>
				<ion-col>
					<img class="imgSexe" *ngIf="wantMan; else autreImage2" src='assets/imgs/homme.png'>
					<ng-template #autreImage2>
						<img class="imgSexe" src='assets/imgs/femme.png'>
					</ng-template>
				</ion-col>
			</ion-row>
		</ion-item>
		<hr>

		<form (ngSubmit)="updateProfil()">
			<ion-list>

				<ion-item>
					<ion-label color="orange" *ngIf="emptyDescription; else stacklabel1" floating>.... ici votre description ....</ion-label>
					<ng-template #stacklabel1>
						<ion-label color="orange" stacked>Ma Description :</ion-label>
					</ng-template>
					<ion-textarea [(ngModel)]="user.description" name="description" clearIntput></ion-textarea>
				</ion-item>

				<ion-item>
					<ion-label color="orange" *ngIf="emptyPhilosophie; else stacklabel2" floating>.... ici votre philosophie de vie ....</ion-label>
					<ng-template #stacklabel2>
						<ion-label color="orange" stacked>Ma Philosophie :</ion-label>
					</ng-template>
					<ion-textarea [(ngModel)]="user.philosophie" name="philo" clearIntput></ion-textarea>
				</ion-item>

				<ion-item>
					<ion-label color="orange" *ngIf="emptyLike; else stacklabel3" floating>.... ici ce que vous aimez ....</ion-label>
					<ng-template #stacklabel3>
						<ion-label color="orange" stacked>Ce que j'aime :</ion-label>
					</ng-template>
					<ion-textarea [(ngModel)]="user.like" name="like" clearIntput></ion-textarea>
				</ion-item>

				<ion-item>
					<ion-label color="orange" *ngIf="emptyNotLike; else stacklabel4" floating>.... ici ce que vous n'aimez pas ....</ion-label>
					<ng-template #stacklabel4>
						<ion-label color="orange" stacked>Ce que je n'aime pas :</ion-label>
					</ng-template>
					<ion-textarea [(ngModel)]="user.notlike" name="notlike" clearIntput></ion-textarea>
				</ion-item>

				<!-- Bouton de mis à jour du profil -->
				<button ion-button color="orange" round outline type="submit" block>Mise à Jour</button>
			</ion-list>
		</form>

	</ion-grid>
</ion-content>
