page-profil {
    margin-top: 2em;
    #imgProfil {
        overflow:hidden;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;
        width:7em;
        height:7em;
        border: 2px solid #de4f31;
    }
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: transparent;
        box-shadow: inset 0 -1px 0 0 #dedede;
    }
    #profil {
        padding-top: 1.75em;
        padding-left: 3em;
    }
    #imgAvatar {
        padding-right: 1em;
    }
    .imgSexe {
        width:3em;
        height:3em;
    }
    .interest {
        color: #de4f31;
        padding-top: 1em;
    }
    h1, h2 {
        color: #de4f31;
    }
    .orange {
        color: #de4f31;
    }
}
