page-home {
	
	#imgAvatar {
 		height: 11em;
		width: 11em;
		margin: auto;
		border: 2px solid #de4f31;
	}

	#pseudo {
		font-size: 1.75em;
		font-weight: bold;
	}

	#img1 {
		padding: 10% 25%;		
		margin: auto;
	}
	#img2 {
		padding: 10% 27%;		
		margin: auto;		
	}
	#img3 {
		padding: 10% 16%;
		margin: auto;		
	}
	#img4 {
		padding: 10% 15%;
		margin: auto;		
	}
}
