page-home {
	#imgAvatar {
		width: 8em;
		height: 8em;
		margin: auto;
	}
	#img1 {
		height: 100%;
		margin: auto;
	}
	#img2 {
		height: 100%;
		margin: auto;
	}
	#img3 {
		height: 100%;
		margin: auto;
	}
	#img4 {
		height: 100%;
		margin: auto;
	}

}
