<ion-content padding>
	<ion-grid>
		<ion-item *ngFor="let tabUser of tabUsers;">
			<ion-row justify-content-center align-items-center>		
				<ion-col id="profil" ion-text color='orange'>
					<h2>{{ tabUser.pseudo }}</h2>
					<p class="orange">{{ tabUser.age }} ans</p>
				</ion-col>
				<ion-col text-center >
					<img id='imgProfil' *ngIf="tabUser.photo" [src]="tabUser.photo" alt='photo de profils' style="margin: auto" >
				</ion-col>		
			</ion-row>
			<ion-row>
				<button ion-button color="orange" round outline type="submit" block>Faire une demande de contact</button>
			</ion-row>
		</ion-item>
	</ion-grid>	
</ion-content>
