page-signup {
	position:relative;

	input, #date {
		text-align: center;
		border: none;
		border-radius:30px;
		width: 90%;
		margin: 5%;
		padding: 1em;
		background-color: rgb(242,241,239);
	}

	#date {
		padding: 1em 2px;
		margin: 5% 0;
	}

	.item-ios {
		font-size: 1.0em;
		width: 100%;
	}

	#button {
		position: absolute;
		bottom: 3em;
		width: 90%;
	}

	label {
		padding: 1em;
		margin: 5%;
	}

}
